<h1>Countries</h1>

<a href="/addCountry">Add Country</a>
<br><br>

<table  border="1">
    <tr>
        <th>Country Code</th>
        <th>Country Name</th>
        <th>Country Details</th>
        <th>Action</th>
    </tr>
    <% countrys.forEach((country) =>
    { %>
    <tr>
        <td><%= country.co_code %></td>
        <td><%= country.co_name %></td>
        <td><%= country.co_details %></td>
        <td><a href="/editCountry/<%= country.co_code %>">Update</a></td>
        <td><a href="/country/<%= country.co_code %>">Delete</a></td>
    </tr>
    <% }) %>
</table>

<br>
<a href="/">Home</a>

